:root {
    --background: rgb(95, 91, 217);
    --heading-font: 'Roboto';
    --paragrapgh-font: 'Comic Neue';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 720px;
    margin: 0 auto;
}

header, footer, h3 {
    background-color: var(--background);
}

header, h2, h3{
    font-family: var(--heading-font);
}

nav {
    background-color: black;
}

p {
    font-family: var(--paragrapgh-font);
}

nav a{
    text-decoration: none;
    color: aliceblue;
}

main {
    padding: 2rem;
}

.main {
    display: grid;
    gap: 2rem;
}

.coursework {
    grid-column-start: 1;
    background-color: aliceblue;
    border: 1px solid wheat;
}

.country {
    grid-column-start: 2;
    background-color: aliceblue;
    border: 1px solid wheat;
}

.coursesBox{ 
    margin-top: 2rem;
}

header img {
    width: 5rem;
    grid-column-start: 1;
}

h1 {
    grid-column-start: 2;
}

span {
    display: grid;
}

nav a.active {
    color: yellowgreen;
}

.hamburger {
    display: none;
}

@media (max-width:768px){
    .hamburger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        margin-left: 10px;
    }
    .nav-links {
        display: none;
    }
    .nav-links.active{
        display: flex;
    }
}